@import url(https://fonts.googleapis.com/css?family=Lato:300);
@charset "utf-8";
/*!
Theme: coolbox
Author: Mirucon
Responsive: yes
Description:
シンプルかつ高機能を目指したはてなブログ用のテーマです。
*/
/* ------------------------------------------------------------------------ *
 *  Reset - http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126
 * ------------------------------------------------------------------------ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: icomoon;
  src: url('https://rawgit.com/Mirucon/coolbox/master/fonts/icomoon.ttf') format('truetype'), url('https://rawgit.com/Mirucon/coolbox/master/fonts/icomoon.woff') format('woff'), url('https://rawgit.com/Mirucon/coolbox/master/fonts/icomoon.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
/*   Mixin
/* -------------------------------------------------- */
/*!   Global
/* -------------------------------------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Helvetica Neue', 'Arial', 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;
  color: #444444;
  background-color: #f0f0f0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: auto;
}
@media (min-width: 768px) {
  #container {
    padding-top: 37px
    /* グローバルヘッダを fixed にしているため */
  }
  .globalheader-off #container {
    padding-top: 0
    /*グローバルヘッダ非表示の時*/
  }
}
#content {
  max-width: 1070px;
  min-width: 320px;
  margin: 0 auto 30px;
  box-sizing: content-box;
}
@media (min-width: 1024px) and (max-width: 1080px) {
  #content {
    padding: 0 10px;
  }
}
@media (max-width: 767px) {
  #content {
    min-width: 100%;
    width: 100%;
  }
}
#content-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}
@media (max-width: 1023px) {
  #content-inner {
    display: block;
  }
}
#main {
  max-width: 740px;
  width: 740px;
}
@media (min-width: 1024px) and (max-width: 1054px) {
  #main {
    width: calc(740px - 51px);
  }
}
@media (min-width: 1025px) {
  #main {
    margin-right: 30px;
  }
}
@media (min-width: 1024px) and (max-width: 1090px) {
  #main {
    margin-right: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #main {
    padding: 0 10px;
  }
}
@media (max-width: 1023px) {
  #main {
    width: 100%;
    min-width: 100%;
  }
}
::-moz-selection {
  background: #3b8dbd;
  color: #fff;
}
::selection {
  background: #3b8dbd;
  color: #fff;
}
/*!   ヘッダー
/* -------------------------------------------------- */
#blog-title {
  background: #33363b;
  padding: 40px;
}
#blog-title-inner {
  max-width: 1070px;
  margin: auto;
}
#title {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
  line-height: 1;
}
#title a {
  color: #fff;
}
#blog-description {
  font-weight: normal;
  font-size: 80%;
  margin: 5px 0 0 0;
}
/* ヘッダ（グローバルヘッダ）グローバルヘッダの中はiframeですが、#globalheader-container に背景色や文字色を指定することでirameの中にも色が反映されます。*/
#globalheader-container {
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
@media (max-width: 767px) {
  #globalheader-container {
    position: static;
  }
  .entry-header-menu {
    top: -30px;
    left: 0px;
  }
}
/* ヘッダ画像を設定したとき */
.header-image-enable #title {
  padding-top: 70px;
}
.header-image-enable #title,
.header-image-enable #blog-description {
  padding-left: 20px;
}
/*!   サイドバー
/* -------------------------------------------------- */
#box2 {
  min-width: 300px;
  width: 300px
  /* Profile module */
}
@media (min-width: 768px) and (max-width: 1023px) {
  #box2 {
    width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 719px) {
  #box2 {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #box2 #box2-inner {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}
#box2 .hatena-module {
  margin-bottom: 30px;
  background: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) and (max-width: 1023px) {
  #box2 .hatena-module {
    width: calc(50% - 10px);
    margin: 0 5px 20px;
  }
}
#box2 .hatena-module .hatena-module-title {
  position: relative;
  margin-bottom: 0;
  padding: 3px 6px;
  color: #111111;
  font-weight: normal;
}
#box2 .hatena-module .hatena-module-title::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 30%;
  border-bottom: 2px solid #33363b;
}
#box2 .hatena-module .hatena-module-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  border-bottom: 2px solid #f0f0f0;
}
#box2 .hatena-module .hatena-module-title a {
  color: #111111;
}
#box2 .hatena-module .hatena-module-body {
  padding: 10px 20px 10px;
}
#box2 .hatena-module .hatena-module-body:hover {
  color: #3b8dbd;
}
#box2 .hatena-module .hatena-module-body a {
  color: #666;
  font-size: 85%;
}
#box2 .hatena-module .hatena-module.hatena-module-search-box {
  padding: 20px;
}
#box2 .hatena-module-profile .profile-icon {
  float: left;
  margin: 0 10px 10px 0;
  border-radius: 5px;
  background-clip: padding-box;
}
#box2 .hatena-module-profile .id {
  display: block;
  font-weight: bold;
  font-size: 110%;
  margin-bottom: 5px;
}
#box2 .hatena-module-profile .profile-description {
  font-size: 90%;
}
#box2 .hatena-module-profile .profile-description p {
  margin-top: 0;
}
/*!   タイポグラフィ
/* -------------------------------------------------- */
a {
  -webkit-transition: .2s;
          transition: .2s;
  color: #3b8dbd;
}
a:visited {
  color: #3b8dbd;
}
a:hover {
  color: #0f5373;
}
a:active {
  color: #0f5373;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
  color: #111111;
  text-decoration: none;
}
a.keyword {
  color: #444444;
  cursor: help !important
  /*! NEED IMPORTANT */
}
/*   投稿ページ
/* -------------------------------------------------- */
.entry {
  position: relative;
  margin-bottom: 40px;
  padding: 15px 30px 40px;
  background-color: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
@media (max-width: 639px) {
  .entry {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 379px) {
  .entry {
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* タイトル */
.entry-header {
  position: relative;
  margin-bottom: 20px;
  padding: 30px 0 10px 0;
  border-bottom: 1px solid #dddddd
  /* 日付 */
}
.entry-header .entry-title {
  line-height: 1.3;
  font-size: 160%;
}
.entry-header .entry-title a:visited {
  color: #111111;
}
.entry-header .entry-categories {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -30px;
  margin-right: -30px;
  padding: 0 30px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
}
@media (max-width: 639px) {
  .entry-header .entry-categories {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 379px) {
  .entry-header .entry-categories {
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.entry-header .entry-categories a {
  color: #777777;
}
.entry-header .entry-categories a::before {
  content: '\f022';
  font-family: blogicon;
  padding-right: .15em;
}
.entry-header .entry-categories a::after {
  content: '\002F';
  padding-left: 0.5ex;
}
.entry-header .entry-categories a:last-of-type::after {
  content: '';
  padding: 0;
}
.entry-header .entry-categories.no-categories {
  margin: 0
  /* カテゴリー無いとき*/
}
.entry-header .date {
  display: inline-block;
  position: relative;
  margin-bottom: .2em;
  padding: 4px;
  border-radius: 3px;
  background: #33363b;
  font-weight: 300;
  line-height: 1;
  font-family: Lato, Roboto, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Ariai Nova', 'Segoe UI', 'Yu Gothic Light', sans-serif;
}
.entry-header .date::before {
  content: '';
  position: absolute;
  top: 24px;
  left: 44%;
  border-top: 6px solid #33363b;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
.entry-header .date a {
  font-size: 14px;
  color: #fff;
}
/* entry-content の中の書式 */
.entry-content {
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
  line-height: 1.7;
  font-size: 95%
  /* 見出し */
}
.entry-content p {
  margin-bottom: 1em;
}
.entry-content img {
  max-width: 100%;
}
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  margin: 1.3em 0 0.8em 0;
  line-height: 1.5;
  letter-spacing: -0.5px;
  color: #111;
}
.entry-content h1 {
  font-size: 160%;
}
.entry-content h2 {
  margin: 1.3em -30px 0.8em;
  padding: 15px 30px;
  background: #3b8dbd;
  color: #fff;
  font-weight: bold;
  font-size: 150%;
}
@media (max-width: 639px) {
  .entry-content h2 {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 379px) {
  .entry-content h2 {
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.entry-content h3 {
  position: relative;
  margin: 1.3em -3px;
  padding: 0 3px 5px;
  font-size: 140%;
}
@media (max-width: 379px) {
  .entry-content h3 {
    margin-left: -5px;
    margin-right: -5px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
.entry-content h3::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 40%;
  border-bottom: 3px solid #33363b;
}
.entry-content h3::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  border-bottom: 3px solid #f0f0f0;
}
.entry-content h4 {
  margin-left: -5px;
  margin-right: -5px;
  padding: 0 5px 2px;
  border-bottom: 1px dashed #33363b;
  font-size: 130%;
}
.entry-content h5 {
  font-size: 110%;
}
.entry-content h6 {
  font-size: 100%;
}
.entry-content table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1em;
}
.entry-content table img {
  max-width: none;
}
.entry-content ul {
  margin: 0 0 1em 30px;
  list-style: square;
}
.entry-content ol {
  margin: 0 0 1em 30px;
  list-style: decimal;
}
.entry-content dt {
  font-weight: bold;
}
.entry-content dd {
  margin-bottom: 1em;
}
.entry-content table th,
.entry-content table td {
  border: 1px solid #ddd;
  padding: 5px 10px;
}
.entry-content table th {
  background: #f5f5f5;
}
.entry-content blockquote {
  margin: 0 0 10px;
  padding: 20px;
  padding-left: 50px;
  border: 1px solid #dddddd;
  background: #eee;
  border-radius: 3px;
}
.entry-content blockquote::before {
  content: "\f10d";
  position: absolute;
  top: -5px;
  left: 10px;
  font-family: icomoon;
  color: #ccc;
  font-size: 32px;
}
.entry-content blockquote p {
  margin-top: 0;
  margin-bottom: 0;
}
.entry-content pre {
  margin: 0 0 10px;
  padding: 20px;
  border-radius: 2px;
  background: #33363b;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  white-space: pre;
  color: #E5E5EB;
}
.entry-content pre > code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: 0;
  background: transparent;
  font-family: 'Monaco', 'Consolas', 'Courier New', Courier, monospace, sans-serif;
}
.entry-content code {
  font-size: 90%;
  margin: 0 2px;
  padding: 0 5px;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
  font-family: 'Monaco', 'Consolas', 'Courier New', Courier, monospace, sans-serif;
}
.entry-content .hatena-asin-detail li {
  line-height: 1.4;
}
/* 前後記事リンク */
.permalink.pager {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 0;
  background: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  .permalink.pager {
    display: block;
  }
}
.permalink.pager .pager-next,
.permalink.pager .pager-prev {
  display: block;
  position: relative;
  height: 100%;
  text-align: center;
  -webkit-transition: .4s;
          transition: .4s;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.permalink.pager .pager-next:hover,
.permalink.pager .pager-prev:hover {
  background: #efefef;
}
.permalink.pager .pager-next::before,
.permalink.pager .pager-prev::before {
  position: absolute;
  top: 6px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  color: #777777;
}
.permalink.pager .pager-next a,
.permalink.pager .pager-prev a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 32px 40px 32px 20px;
  color: #444444;
  text-align: center;
  -webkit-transition: .2s;
          transition: .2s;
}
.permalink.pager .pager-next a:hover > .pager-arrow,
.permalink.pager .pager-prev a:hover > .pager-arrow {
  color: #3b8dbd;
}
.permalink.pager .pager-next .pager-arrow,
.permalink.pager .pager-prev .pager-arrow {
  position: absolute;
  font-size: 24px;
  line-height: 1;
}
@media (min-width: 768px) {
  .permalink.pager .pager-next {
    border-left: 1px solid #dddddd;
  }
}
.permalink.pager .pager-next::before {
  content: '次の投稿';
}
.permalink.pager .pager-next .pager-arrow {
  right: 10px;
}
.permalink.pager .pager-prev::before {
  content: '前の投稿';
}
.permalink.pager .pager-prev .pager-arrow {
  left: 10px;
}
/* 「編集する」ボタン */
.entry-header-menu {
  position: absolute;
  bottom: 0px;
  left: -60px;
}
.entry-header-menu a {
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  line-height: 18px;
  color: #444444;
  background-color: #ffffff;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
  background-clip: padding-box;
  cursor: pointer;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-decoration: none !important;
}
.entry-header-menu a:hover {
  background-color: #f5f5f5;
  text-decoration: none !important;
}
/* entry-footer */
.entry-footer {
  margin-top: 10px;
}
.entry-footer-section {
  font-size: 80%;
  color: #777777;
}
.entry-footer-section a {
  color: #777777;
}
.social-buttons,
.entry-footer-html {
  margin: 10px 0;
}
/* コメント */
.comment-box ul {
  list-style: none;
  margin: 0 0 15px 0;
  padding: 0;
  font-size: 95%;
  line-height: 1.7;
}
.comment-box li {
  padding: 10px 0 10px 60px;
  border-bottom: 1px solid #dddddd;
  position: relative;
}
.comment-box li:first-child {
  border-top: 1px solid #dddddd;
}
.comment-box .read-more-comments {
  padding-left: 0;
}
.comment-box .hatena-id-icon {
  position: absolute;
  top: 10px;
  left: 0;
  width: 50px !important;
  height: 50px !important;
  border-radius: 3px;
  background-clip: padding-box;
}
.comment-user-name {
  margin: 0 0 10px 0;
  font-weight: bold;
}
.comment-content {
  font-size: 90%;
  margin: 0 0 10px 0;
  word-wrap: break-word;
}
.comment-content p {
  margin: 0 0 10px 0;
}
.comment-metadata {
  font-size: 80%;
  color: #777777;
  margin: 0;
}
.comment-metadata a {
  color: #777777;
}
.leave-comment-title {
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  line-height: 18px;
  color: #444444;
  background-color: #ffffff;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
  background-clip: padding-box;
  cursor: pointer;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-decoration: none !important;
}
.leave-comment-title:hover {
  background-color: #f5f5f5;
  text-decoration: none !important;
}
/*!   Buttons
/* -------------------------------------------------- */
.btn {
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  line-height: 18px;
  color: #444444;
  background-color: #ffffff;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
  background-clip: padding-box;
  cursor: pointer;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-decoration: none !important;
}
.btn:hover {
  background-color: #f5f5f5;
  text-decoration: none !important;
}
.btn-small {
  padding: 2px 10px !important;
  font-size: 11px !important;
}
.btn-large {
  padding: 13px 19px;
  font-size: 17px;
  line-height: normal;
  font-weight: bold;
}
/* パンくず（カテゴリーページで表示されます） */
#top-box {
  max-width: calc(1070px - 10px);
  margin: 0 auto 20px;
  font-size: 15px;
  font-weight: bold;
}
@media (max-width: 639px) {
  #top-box {
    width: 100%;
    margin-bottom: 10px;
  }
}
#top-box .breadcrumb {
  padding: 10px;
  border: 1px solid #dddddd;
  background: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
#top-box .breadcrumb a:first-child::before {
  content: '\f017';
  font-family: blogicon;
  margin-right: -0.5ex;
}
/* アーカイブページ */
.page-archive .archive-entries {
  padding: 20px 0;
}
@media (max-width: 639px) {
  .page-archive .archive-entries {
    padding: 30px 0;
  }
}
.page-archive .archive-entries .archive-entry {
  margin-bottom: 40px;
  padding: 15px 30px;
  background: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
@media (max-width: 639px) {
  .page-archive .archive-entries .archive-entry {
    margin-bottom: 30px;
  }
}
.page-archive .archive-entries .archive-entry .date {
  display: inline-block;
  position: relative;
  margin-bottom: .2em;
  padding: 4px;
  border-radius: 3px;
  background: #33363b;
  font-weight: 300;
  line-height: 1;
  font-family: Lato, Roboto, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Ariai Nova', 'Segoe UI', 'Yu Gothic Light', sans-serif;
}
.page-archive .archive-entries .archive-entry .date::before {
  content: '';
  position: absolute;
  top: 24px;
  left: 44%;
  border-top: 6px solid #33363b;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
.page-archive .archive-entries .archive-entry .date a {
  font-size: 14px;
  color: #fff;
}
.page-archive .archive-entries .archive-entry .entry-title {
  line-height: 1.3;
  font-size: 160%;
  margin: 0 0 .5em;
  font-size: 150%;
}
.page-archive .archive-entries .archive-entry .entry-title a:visited {
  color: #111111;
}
.page-archive .archive-entries .archive-entry .categories {
  margin-bottom: 0.5em;
}
.page-archive .archive-entries .archive-entry .entry-description {
  margin: 0 0 1em;
  line-height: 1.7;
  font-size: 90%;
}
.page-archive .archive-entries .archive-entry .categories a {
  display: inline-block;
  margin-right: 2px;
  padding: 3px 5px;
  border-radius: 3px;
  background: #aaa;
  color: #fff;
  font-size: 70%;
}
.page-archive .archive-entries .archive-entry .categories a::before {
  content: '\f022';
  font-family: blogicon;
  padding-right: 0.5ex;
}
.page-archive .archive-entries .archive-entry .entry-thumb {
  border-radius: 3px;
}
.archive-heading {
  max-width: calc(1070px - 10px);
  margin: 0 auto 20px;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #dddddd;
  background: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
@media (max-width: 639px) {
  .archive-heading {
    width: 100%;
    margin-bottom: 10px;
  }
}
.archive-heading .breadcrumb {
  padding: 10px;
  border: 1px solid #dddddd;
  background: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.archive-heading .breadcrumb a:first-child::before {
  content: '\f017';
  font-family: blogicon;
  margin-right: -0.5ex;
}
.archive-heading a:first-child::before {
  content: '\f017';
  font-family: blogicon;
  margin-right: -0.5ex;
}
/* urllist module
リンク・最新記事・最近のコメント・月別アーカイブ・カテゴリモジュールは .hatena-urllist という共通の class が振られます
*/
.hatena-urllist li {
  padding: 8px 0;
  border-bottom: 1px solid #dddddd;
  line-height: 1.5;
}
/* Search module */
.hatena-module-search-box .search-form {
  border: 1px solid #dddddd;
  border-radius: 3px;
  background-clip: padding-box;
  width: 100%;
  position: relative;
}
.hatena-module-search-box .search-module-input {
  padding: 5px;
  color: #444444;
  background: none;
  border: none;
  outline: none;
  height: 20px;
  width: 90%;
  box-sizing: content-box;
}
.hatena-module-search-box .search-module-button {
  width: 20px;
  height: 20px;
  background: transparent url(http://blog.hatena.ne.jp/images/theme/search.png) no-repeat right center;
  border: none;
  outline: none;
  text-indent: -9999px;
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0.5;
}
.hatena-module-search-box .search-module-button:hover {
  opacity: 0.85;
}
/*   フッター
/* -------------------------------------------------- */
#footer {
  padding: 30px 0;
  background: #33363b;
  text-align: center;
  color: #777777;
  line-height: 1.5;
  font-size: 80%;
}
#footer a {
  color: #777777;
}
/*   Aboutページ
/* -------------------------------------------------- */
.page-about dt {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 5px;
}
.page-about dd {
  margin-left: 0;
  margin-bottom: 30px;
}
/*   Media Queries - Retina Display
/* -------------------------------------------------- */
@media (-webkit-min-device-pixel-ratio: 2) {
  .hatena-module-search-box .search-module-button {
    background: transparent url(http://blog.hatena.ne.jp/images/theme/search@2x.png) no-repeat right center;
    background-size: 20px 20px;
  }
}
